.a-header {
    color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}

.logo-header-link {
    margin-right: 5px;
    font-size: 25px;
}

.a-header:hover {
    color: #197ca3;  
    transition: color 0.5s ease-in-out;
}

.a-header:not(:hover) {
    color: #292929;  
    transition: color 0.5s ease-in-out;
}

.a-header:hover .logo-header-link{
    color: #292929;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.a-header:not(:hover) .logo-header-link{
    color: #292929;
    transform: scale(1);
    transition: transform 0.5s;
}
